<div class="sidebar bg-blue-900 h-screen">
    <div class="bg-white px-0 py-3 h-10 w-5/6 rounded-md flex items-center justify-start" style="margin: 1rem auto;">        
        <img src="https://drive.google.com/uc?export=view&id=10ITRvWXNGeWwZRSIM9iIJulDwS_cWLv3" alt="Google Drive Image" height="50px" width="50px"/>
        <span class="font-bold text-xl text-blue-900 block">Janko</span>
    </div>
    <a href="/home" class="flex block items-center px-0 py-3 h-10 w-5/6 justify-start" style="margin: .5rem auto;">
        <img class="block ml-5 mr-4" src="https://drive.google.com/uc?export=view&id=1NRKJyl_SkVeg-4ZMvF_8N3__JG_gemBU" alt="Image" height="20px" width="20px">
        <span class="text-sm text-gray-50 block">CMS Home</span>
    </a>
    <a href="/profile/edit" class="flex block items-center px-0 py-3 h-10 w-5/6 justify-start" style="margin: .5rem auto;">
        <img class="block ml-5 mr-4" src="https://drive.google.com/uc?export=view&id=1ydlg2QQfWz-fWcwbcVX1qhndFNV125__" alt="Image" height="20px" width="20px">
        <span class="text-sm text-gray-50 block">Edit Profile</span>
    </a>
    <a href="/logout" class="flex block items-center px-0 py-3 h-10 w-5/6 justify-start" style="margin: .5rem auto;">
        <img class="block ml-5 mr-4" src="https://drive.google.com/uc?export=view&id=1n7XiRT9ZD40756aJ7dHaLot5XNPqQ6gG" alt="Image" height="20px" width="20px">
        <span class="text-sm text-gray-50 block">Logout</span>
    </a>
</div>